# files created by Visual Studio Code
.vscode/

# files created by Visual Studio
**/x64/
**/Debug/
**/*.vcxproj*
**/*.sln
**/.vs/

# files created by PyCharm
**/*.xml

# files created by Microchip Studio
**/*.cproj
**/*.atsln
**/*.componentinfo.xml

# files created by STM32CubeIDE
**/.metadata/
**/.settings
**/gpio.h
**/*stm32f4xx*
**/gpio.c
**/syscalls.c
**/sysmem.c
**/Startup/
**/Drivers/
**/.*project
**/*.launch
**/STM32F411RETX*

# executable files from source codes
**/*.exe



# Python cache files
**/__pycache__


# source codes for practice
**/Untitled.*
**/practice.*

# datasets for ML training
**/dataset/
**/datasets/



# Copyrights
**/K. N. King - C Programming_ A Modern Approach-W. W. Norton & Company (2008).pdf
**/Laurence Moroney - AI and Machine Learning for Coders_ A Programmer's Guide to Artificial Intelligence-O'Reilly Media (2020).pdf